html{

    scroll-behavior: smooth;

}


/* Barre de Navigation*/
.barNav{

    background-color: rgb(75, 75, 75);
    font-size:30px;

}

/*Section Intro*/
.introSite{
    
    margin-top: 110px;
    background: url('../img/intro.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;

}

.introSite>div,p{

    font-size:30px;
    color:white;
    text-shadow:  2px 2px black;
}

#introImage{

    width: 100%;

}


h1{

    font-size:60px

}

h2{

    border-top:1px solid black;
    border-bottom:1px solid black;
    font-size:40px;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#about{

    background: rgb(125,125,125);
    padding-top: 116px;
    height: 100vh;
}

