#yolo{
    background:url('../img/intro.png') center no-repeat;
    background-size: cover;
    height: 100vh;
    .connexion{
        background-color: rgba(0, 247, 255, 0.424);
        display: block;
        color:white;
        border-radius: 50px;
    }
}